.mysearch {
    top:110px;
    width: 700px;
    position: fixed;
}

.sanspuce {
   list-style-type:none;
}

.listcode {
    padding-top:170px;
    padding-left: 200px;
    padding-bottom: 50px;
    margin:20px;
    width: 80%;
}

.listcode li{
  margin:20px;
}

input
{
  height: 40px;
}
