<header>
  <app-header></app-header>
</header>
<app-sidebar></app-sidebar>
<div class="col-xs-6 col-sm-4 col-sm-push-3 boxlogo myinscriptionform">
  <div class="span3 well">
    <form class="form-style-4">
          <legend>Insription</legend>
          <label for="name" class="sr-only">Nom d'utilisateur</label>
          <input type="textarea" id="name" name="name" #newUserName class="form-control" placeholder="Nom d'utilisateur" required>

          <label for="inputEmail" class="sr-only">Adresse e-mail</label>
          <input type="email" id="email" name="email" #newEMail class="form-control" placeholder="Adresse e-mail" required>

          <label for="inputPassword" class="sr-only">Mot de passe</label>
          <input type="password" id="password" #newPassword name="password" class="form-control" (keyup.enter)="logItUp(newUserName.value, newPassword.value); newPassword.value=''; newUserName.value=''" placeholder="Mot de passe" required>

          <input type="submit" value="S'inscrire" (click)="logItUp(newUserName.value, newEMail.value, newPassword.value);newUserName.value=''; newEMail.value=''; newPassword.value=''"  />
    </form>
  </div>
</div>
