<div class="row myheader">
  <div class="col-sm-3">
    <img id="logo" src={{logowts}} class="img-responsive"/>
  </div>
    <div class="mytitle col-sm-6" style="text-align:center">
      What's The Syntax?
    </div>
    <div class="account col-sm-3" style="text-align:right">
       <p>
         <span class="glyphicon glyphicon glyphicon-log-in"></span>
         <a class="myref" href="./inscription">S'inscrire</a>
       </p>
       <p>
         <span class="glyphicon glyphicon glyphicon-user"></span>
         <a class="myref" href="./connexion">S'identifier</a>
       </p>
    </div>
</div>
