<div class="jumbotron text-center">
<div class="row">
    <div class="col-xs-6 col-sm-4 col-sm-push-4 boxlogo">
      <h1>What's The Syntax ?</h1>
    </div>
    <div class="col-xs-6 col-sm-8">
      <div class="row">
        <div class="col-sm-6 col-sm-pull-6 boxb">
          <img id="logo" src={{logowts}} class="img-responsive" width="154" height="100"/>
        </div>
        <div class="col-sm-6 boxa">
           <p>
             <img src={{iconsignup}} width="20" height="20"/>
             <a href="#">S'inscrire</a>
           </p>
           <p>
             <img src={{iconsignin}} width="20" height="20"/>
             <a href="#">S'identifier</a>
           </p>
        </div>
      </div>
    </div>
</div>
</div>
