<header>
  <app-header></app-header>
</header>
<app-sidebar></app-sidebar>
<div class="col-xs-6 col-sm-10 col-sm-push-4 boxlogo mysee">
<div class="col-lg-6">
    <textarea class="span6" rows="12" column="42" id="code" #newCodeSelect name="tags" class="form-control" [value]="codeselect" readonly></textarea>
      <button class="btn btn-secondary" type="button" (click)="saveCode()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
    <button class="btn btn-secondary" type="button" (click)="selectCode(newCodeSelect)">Selection</button>
</div>
</div>
