<header>
  <app-header></app-header>
</header>
<app-sidebar></app-sidebar>
<div class="col-xs-6 col-sm-10 boxlogo mysee">
  <h2>Code {{langage}}:</h2>
  <table>
    <tr>
      <td *ngFor="let tag of tags">
        <blockquote *ngIf="tag.tag!=null" class="note yellow">
          {{tag.tag}}
        </blockquote>
      </td>
    </tr>
  </table>
  <table>
   <tr>
     <td><textarea rows="15" cols="80" id="code" #newCodeSelect [value]="codeselect" readonly></textarea></td>
     <td><button  class="btn btn-secondary" (click)="saveCode()" type="button">
       <span class="glyphicon glyphicon-floppy-disk"></span>
     </button></td>
     <td>
       <button class="btn btn-secondary" type="button" (click)="selectCode(newCodeSelect)">
         <img src={{logowts}} width="30" height="30"/>
       </button>
     </td>
   </tr>
  </table>
</div>
