<header>
  <app-headerconnect></app-headerconnect>
</header>
<app-sidebarconnect></app-sidebarconnect>
<div class="col-xs-6 col-sm-4 col-sm-push-4 boxlogo myadminform">
<div class="span3 well">
  <form class="form-style-4">
      <h2 class="form-signin-heading">Ajouter du code</h2>
      <div class="form-group">
        <label for="exampleSelect1">Langages</label>
        <select class="form-control" id="exampleSelect1">
          <option>Java</option>
          <option>Php</option>
          <option>C#</option>
        </select>
      </div>
      <label for="tags" class="sr-only">Mots clès</label>
      <input type="textarea" id="tags" name="tags" class="form-control" placeholder="Mot clès" required>
      <label for="code" class="sr-only">Code</label>
      <textarea name="field4" rows="5" id="code" name="tags" class="form-control" placeholder="Votre code ici" required></textarea>
      <input type="submit" value="Contribuer"/>
    </form>
</div>
</div>
