.mysearchphp {
    padding-top: 150px;
    padding-right: 60px;
    padding-bottom: 150px;
    padding-left: 110px;
}

.sanspuce {
   list-style-type:none;
}

.listcode {
    padding-bottom: 20px;
}
input
{
  height: 50px;
  width: 300px;
}
