<div class="planheader">
<header>
  <app-headerconnect></app-headerconnect>
</header>
<app-sidebarconnect></app-sidebarconnect>
</div>
<div>
    <div class="mysearch input-group col-xs-8 col-sm-10 col-sm-push-3 boxlogo">
      <input type="text" class="form-control" #newTags (keyup.enter)="getCodesResult(newTags.value); newTags.value=''" placeholder="Recherchez une syntaxe ..." />
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getCodesResult(newTags.value); //newTags.value=''" width="40" height="40">
          <img src={{iconphp}} width="30" height="30">
        </button>
      </span>
    </div>
    <div class="list input-group col-xs-8 col-sm-10 col-sm-push-3 boxlogo">
      <table>
       <tr>
        <ul *ngIf="showSearchResult" class="sanspuce listcode">
          <li *ngFor="let code of codes">
            <table>
             <tr>
               <td><textarea rows="5" cols="60" id="code" #newCodeSelect value="{{code.code}}" readonly></textarea></td>
               <td><button  class="btn btn-secondary" (click)="codeselection(newCodeSelect.value,code); newCodeSelect.value='';" type="button">
                 <span class="glyphicon glyphicon glyphicon-eye-open"></span>
               </button></td>
               <td>
                 <button class="btn btn-secondary" type="button" (click)="selectCode(newCodeSelect)">
                   <img src={{logowts}} width="20" height="20"/>
                 </button>
               </td>
             </tr>
             </table>
             <table>
               <tr>
                 <td *ngFor="let tag of codetagMap[code.codeId]">
                   <blockquote *ngIf="tag.tag!=null" class="note yellow">
                     {{tag.tag}}
                   </blockquote>
                 </td>
               </tr>
             </table>
          </li>
        </ul>
      </tr>
     </table>
   </div>
</div>
