<header>
  <app-headerconnect></app-headerconnect>
</header>
<app-sidebarconnect></app-sidebarconnect>
<div class="col-xs-6 col-sm-10 col-sm-push-4 boxlogo perso">
  <ul class="sanspuce nav nav-tabs nav-justified" role="tablist">
    <li *ngFor="let langage of meslangages">
      <div class="row">
        <h2>{{langage.langage}}</h2>
        <ul class="sanspuce">
          <li *ngFor="let code of mescodes">
            <div *ngIf="code.langage.langage==langage.langage" class="row quote-container">
              <i (click)="deleteCode(code.codeId)" class="pin"></i>
              <blockquote class="note yellow" (click)="seeCode(code)">
                {{code.code}}
              </blockquote>
            </div>
            <div *ngIf="code.langage==langage.langageId" class="row quote-container">
              <i type="button" (click)="deleteCode(code.codeId)" class="pin"></i>
              <blockquote class="note yellow" (click)="seeCode(code)">
                {{code.code}}
              </blockquote>
            </div>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
