<div class="col-xs-6 col-sm-10 col-sm-push-4 boxlogo">
<div class="col-lg-6">
    <div class="mysearch input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" (click)="getCodesResultJava(newTags.value); newTags.value=''">
          <span class="glyphicon glyphicon glyphicon-search"></span>
        </button>
      </span>
      <input type="text" class="form-control" #newTags placeholder="Recherchez un syntaxe ..."/>
    </div>
    <div *ngIf="showSearchResult" class="listcode">
      <ul class="sanspuce">
        <li *ngFor="let code of codes">
          <textarea class="span6" rows="2" id="code" #newCodeSelect name="tags" class="form-control" value="{{code.code}}" readonly></textarea>
          <button  class="btn btn-secondary" (click)="codeselection(newCodeSelect.value); newCodeSelect.value='';" type="button">
            <span class="glyphicon glyphicon glyphicon-eye-open"></span>
          </button>
          <button class="btn btn-secondary" type="button" (click)="selectText(newCodeSelect)">Selection</button>
        </li>
      </ul>
    </div>
</div>
</div>
