<div class="row myheader">
    <div class="mytitle col-xs-6 col-sm-4 col-sm-push-4 boxlogo">
      What's The Syntax ?
    </div>
    <div class="col-xs-6 col-sm-8">
      <div class="row">
        <div class="col-sm-6 col-sm-pull-6 boxb">
          <img id="logo" src={{logowts}} class="img-responsive" width="154" height="100"/>
        </div>
        <div class="col-sm-6 boxa">
           <p>
             <span class="glyphicon glyphicon-folder-open"></span>
             <a class="myref" href="./perso">Mes codes</a>
           </p>
           <p>
             <span class="glyphicon glyphicon-log-out"></span>
             <a class="myref" href="#" (click)="logout()">Se déconnecter</a>
           </p>
           <p>
             <span class="glyphicon glyphicon-cog"></span>
             <a class="myref" href="./paramperso">Parametres</a>
           </p>
        </div>
      </div>
    </div>
</div>
