<div class="row myheader">
  <div class="col-sm-3">
    <img id="logo" src={{logowts}} class="img-responsive"/>
  </div>
    <div class="mytitle col-sm-6" style="text-align:center">
      What's The Syntax?
    </div>
    <div class="account col-sm-3" style="text-align:right">
      <p>
        <span class="glyphicon glyphicon-folder-open"></span>
        <a class="myref" href="./perso">Mes codes</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-log-out"></span>
        <a class="myref" href="#" (click)="logout()">Se déconnecter</a>
      </p>
      <p>
        <span class="glyphicon glyphicon-cog"></span>
        <a class="myref" href="./paramperso">Parametres</a>
      </p>
    </div>
</div>
