<header>
  <app-headerconnect></app-headerconnect>
</header>
<app-sidebarconnect></app-sidebarconnect>
<div class="mysee">
    <textarea class="span6" rows="12" id="code" #newCodeSelect name="tags" class="form-control" [value]="codeselect"></textarea>
      <button class="btn btn-secondary" type="button" (click)="saveCode()">
        <span class="glyphicon glyphicon-floppy-disk"></span>
      </button>
    <button class="btn btn-secondary" type="button" (click)="selectCode(newCodeSelect)">Selection</button>
</div>
