<div class="col-xs-6 col-sm-4 col-sm-push-4 boxlogo myadminform">
<div class="span3 well">
  <form class="form-signin">
      <h2 class="form-signin-heading">Ajouter du code</h2>
      <label for="langage" class="sr-only">Langage</label>
      <input type="textarea" id="langage" #newlangage name="langage" class="form-control" placeholder="Mot clès" required>
      <label for="tags" class="sr-only">Mots clès</label>
      <input type="textarea" id="tags" #newTags name="tags" class="form-control" placeholder="Mot clès" required>
      <label for="code" class="sr-only">Code</label>
      <textarea class="span6" rows="5" id="code" #newCode name="tags" class="form-control" placeholder="Votre code ici" required></textarea>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="addIt(newCode.value, newlangage.value, newTags.value); newlangage.value='';newTags.value=''; newCode.value=''">Ajouter</button>
    </form>
</div>
</div>
