.mysearchcsharp {
    top:200px;
    position: fixed;
}

.sanspuce {
   list-style-type:none;
}

.listcode {
  padding-top:170px;
  padding-left: 200px;
  padding-bottom: 50px;
}

input
{
  height: 58px;
  width: 400px;
}
