.mysearch {
    top:200px;
}

.sanspuce {
   list-style-type:none;
}

.listcode {
    padding-bottom: 20px;
    padding-top: 30px;
    position: relative;
}

input
{
  height: 58px;
  width: 400px;
}

span.glyphicon-search {
    font-size: 2.7em;
}
