<header>
  <app-headerconnect></app-headerconnect>
</header>
<app-sidebarconnect></app-sidebarconnect>
<div class="col-xs-6 col-sm-4 col-sm-push-4 boxlogo myadminform">
  <table>
     <tr class="colorMy"><h2>Mes informations</h2></tr>
     <tr>
       <ul class="sanspuce">
           <li><a (click)="setShowName()">Nom : {{user.name}}</a></li>
           <li *ngIf="showModifname">

              <tr>
                <td><input type="textarea" id="change" name="change" class="form-control" #newValue placeholder="Nouveau noms d'utilisateur" required></td>
                <td><button class="bouton8" type="button" (click)="modifName(newValue.value); newValue.value=''">Modifier</button></td>
              </tr>

           </li>
           <li><a  (click)="setShowEmail()">Email: {{user.email}}</a></li>
           <li *ngIf="showModifemail">

               <tr>
                 <td><input type="textarea" id="change" name="change" class="form-control" #newValue placeholder="Nouveau email" required></td>
                 <td><button class="bouton8" type="button" (click)="modifEmail(newValue.value); newValue.value=''">Modifier</button></td>
               </tr>
             </li>
           <li><a (click)="setShowMdp()">Modifier le mot de passe</a></li>
           <li *ngIf="showModifmdp">
               <tr>
                 <td><input type="textarea" id="change" name="change" class="form-control" #newValue placeholder="Nouveau mot de passe" required></td>
                 <td><button class="bouton8" type="button" (click)="modifMdp(newValue.value); newValue.value=''">Modifier</button></td>
               </tr>
           </li>
           <li>
               <tr>
                 <button class="bouton8" type="button" (click)="quit()">Supprimer mon compte What's the syntax</button>
               </tr>
           </li>
       </ul>
     </tr>
  </table>
</div>
